@model DataLayer.Models.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitlePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitlePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
