@model DataLayer.Models.Page

@{
    ViewBag.Title = "Details";
}

<div>
    <dl class="dl-horizontal">
        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.GroupTitle)
        </dd>

        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.TitlePage):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitlePage)
        </dd>

        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.ShortDescription):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.Text):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.Visit):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.SliderShow):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderShow)
        </dd>

        <dt class="text-dark">
            تاریخ ایجاد:
        </dt>

        <dd>
            @News.Tools.PersianDateConverter.ToShamsi(Model.CreatDateTime)
        </dd>

    </dl>
</div>